html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

:root {
	--color-dark: #4d4d4d;
	--color-light: #808080;
	--color-accent: #5d71dd;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  overflow-anchor: none;
  background-image: url('../images/library3.png');
  background-attachment: fixed;
  background-size: cover;
}

ul {
	list-style-type: none;
}

.btn {
	border: none;
	outline: none;
	padding: 14px 0;
	border-radius: 4px;
	width: 100%;
	color: #fff;
	background-color: var(--color-accent);
	cursor: pointer;
	transition-duration: 0.3s;
}

.btn:hover {
	background-color: #6078f1;
	transform: translateY(-1px);
}
.btn:active {
	background-color: #394ec4;
	transform: translateY(1px);
}

.btn:disabled {
	opacity: 0.4;
	pointer-events: none;
}