body{
    background-image: url(../images/library2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.main-menu {
    margin-top: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    color: #00264d;
    text-shadow: 2px 2px 1px white;
    font-size: 50px;
}
a {
    text-decoration: none;
}
.low-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hey{
    text-decoration: none;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px 20px;
    border: 0px;
    font-size: 28px;
    font-weight: 700;
    width: 225px;
    height: 40px;
    color: #ffffff;
    border-radius: 10px;
    background-color: #254e77;
    box-shadow: -1px 14px 23px 0px rgba(255, 255, 255, 0.295);
    transition-duration: 0.4s;
}
.hey:hover{
    transform: translateY(-1px);
}
.hey:active{
    background-color: #ffffff;
    color: #000000;
    transform: translateY(1px);
    box-shadow: -1px 14px 23px 0px rgb(128, 128, 247);
}
span {
    text-align: center;
    background-color: #ffffff;
    height: 200px;
    width: 520px;
}