<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="header" class="nav__link">Catalog</a></li>
                <li class="nav__item"><a href="" class="nav__link">Payments and delivery</a></li>
                <li class="nav__item"><a href="footer" class="nav__link">Contacts</a></li>
            </ul>
            <div class="header__cart cart" tabindex="0">
                <div class="cart__text">
                    Bucket
                    <span class="cart__quantity">0</span>
                </div>
                <div class="cart-content">
                    <ul class="cart-content__list" data-simplebar>
                        <!--                        trash-->
                    </ul>
                    <div class="cart-content__bottom">
                        <div class="cart-content__fullprice">
                            <span>Sum:</span>
                            <span class="fullprice">Sum</span>
                        </div>
                        <div class="cart-content__btn btn">Go to shooping list</div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="content">
    <div class="container">
        <div class="products-content grid-container">

            <ul  th:each="book : ${books}">
                <li class="products-grid__item">
                    <article class="product">
                        <a href="#" class="product__image">
                            <div class="product__switch image-switch">
                                <div class="image-switch__item">
                                    <div class="image-switch__img"><img  th:src="@{${book.imageUrl}}"></div>
                                </div>

                            </div>
                            <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
                        </a>
                        <h3 class="product__title">
                            <a href="#" th:text="${book.name}"></a>
                        </h3>
                        <h4 >
                            <a href="#" th:text="${book.author}"></a>
                        </h4>
                        <div class="product__props">
								<span class="product__rating" th:text="${book.rating} + ' &#9733'"> </span>
                        </div>
                        <div class="product__info">
                            <span class="product__term" th:text="'Article: ' + ${book.article}"></span>
                            <span class="product__available" th:text="'Available now: '+ ${book.available}+ ' ps.'"></span>
                        </div>
                        <div class="product__price product-price">
                            <span class="product-price__current" th:text="${book.price} + '$'"></span>
                            <span class="product-price__old"  th:text="${book.oldPrice}+ '$'"></span>
                        </div>
                        <button class="product__btn btn">Add to shopping cart</button>
                    </article>
                </li>





            </ul>
        </div>
        <div class="height" style="height: auto; margin-bottom: 30px"></div>
    </div>
</main>

<footer class="footer" style="height:140px">
    <div class="footer__addr" >
        <h1 class="footer__logo">BookShop</h1>
    </div>
    <ul class="footer__nav">
        <li class="nav__item" style="margin-left:70%">
            <h2 class="nav__title">Legal</h2>
            <ul class="nav__ul">
                <li>
                    <a href="footer">Privacy Policy</a>
                </li>
                <li>
                    <a href="footer">Terms of Use</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="legal" style="margin-top:-20px">
        <p>&copy; 2021 Nastia Herych. All rights reserved.</p>
        <div class="legal__links"></div>
    </div>
</footer>

<script src="/js/simplebar.js"></script>
<script src="/js/product.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>